target/
.classpath
.project
.factorypath
.settings
.vertx
.DS_Store
/.DS_Store
logs
bin
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
src/main/resources/rulesservice-git.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
rebel.xml
src/main/resources/git.properties
src/main/resources/rules2
src/main/resources/rebel.xml
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/bin/
/site/
target

